@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,300&display=swap');
input{
  color: inherit;
  background-color: inherit;
  border: none;
  outline: none;
}
img{
  cursor: pointer;
}
button{
  cursor: pointer;
  color: inherit;
  border: none;
  outline: none;
  background-color: transparent;
}
:root{
  --primary-text: #E0E0E0;
  --secondary-text: #F8DD83;
  ---tertiary-text: #EB7F81;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background-image: url('./image/weather-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100svh;
  color: var(--primary-text);
  transition: all .25s ease-in-out;
}
::placeholder{
  color: var(--primary-text);
}
.container{
  height: 100svh;
  background: rgba(196, 196, 196, 0.1);
  backdrop-filter: blur(4px);
  display: flex;
}

.sidebar{
  width: 360px;
  background: rgba(217, 217, 217, 0.1);
  backdrop-filter: blur(8px);
  height: 100svh;
  float: left;
  padding: 0 2.5rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin-right: 3rem;
  padding-top: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  transition: all .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.weather{
  width: 100%;
  margin: 2.75rem 0;
}
.sidebar.sidebar-inactive{
  transform: translateX(-320px);
}
.search-content{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: none;
  padding-bottom: .25rem;
  margin-bottom: 3rem;
  transition: .1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.search-content:focus-within{
  border-bottom: 2px solid var(--primary-text);
}
.search{
  text-align: center;
}
.temperature{
  font-size: 6rem;
  font-weight: 200;
}
.humidity{
  width: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 200;
  margin-bottom: .5rem;
}
.humidity :nth-child(1){
  font-size: 2.5rem;
  color: var(--secondary-text);
}
.humidity :nth-child(2){
  font-size: 1rem;
}
.wind{
  width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 200;
  font-size: 0.875rem;
  margin-bottom: 4rem;
}
.wind :nth-child(2){
  color: var(--secondary-text);
}
.feels-like{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 200;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.feels-like :nth-child(2){
  font-style: italic;
  color: var(--secondary-text);
  margin-left: 0.5rem;
}
.day-night-lists{
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 115px));
  font-weight: 300;
  column-gap: 2rem;
  row-gap: 1rem;
  place-items: start;
  margin-left: .25rem;
  margin-bottom: 3rem;
}
.day-night-list.second{
  color: var(--secondary-text);
}
.popular{
  font-size: 1.25rem;
  font-weight: 200;
  width: 100%;
  margin-bottom: 1.5rem;
}
.cities{
  width: 280px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  row-gap: 2rem;
}
.city{
  padding: .75rem 1.5rem;
  background: transparent;
  background: rgba(248, 221, 131, 0.2);
  border-radius: 6px;
  color: var(--secondary-text);
  transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.city:hover{
  transform: scale(1.05);
}
.author{
  margin-top: 2rem;
  font-size: 12px;
  font-weight: 200;
  color: var(--primary-text);
}
.slider{
  position: absolute;
  right: -5%;
  top: 45%;
  font-size: 24px;
  background-color: rgba(248, 221, 131, 0.79);
  backdrop-filter: blur(8px);
  border-radius: 22px;
  width: 36px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header{
  width: 54px;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 2.5rem;
}
.forecast{
  font-weight: 200;
  margin-bottom: 1rem;
}
.type{
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}
.weather-type{
  font-weight: 500;
  font-size: 64px;
  margin-right: 0.25rem;
}
.type :nth-child(2){
  color: var(--primary-text);
  opacity: 0.9;
}
.today-date{
  font-weight: 300;
  margin-left: 0.1rem;
  margin-bottom: 1.5rem;
}
.place{
  font-weight: 300;
  font-size: 32px;
  color: var(--secondary-text);
}
.pre-vis{
  margin: 2rem 0;
  display: flex;
  font-size: 24px;
  font-weight: 200;
}
.pv-text{
  color: var(--secondary-text);
}
.pre-vis :first-child{
  margin-right: 2rem;
}
.level{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 24px;
}
.level :first-child{
  margin-bottom: .5rem;
}
.hourly-forecast{
  font-weight: 200;
}
.hour-details, .daily-details{
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  font-weight: 200;
}
.hour-details :first-child{
  margin-bottom: 0.5rem;
  font-size: 32px;
}
.hour-details :nth-child(2){
  font-size: 12px;
  color: var(--secondary-text);
}
.hour-wrapper, .daily-wrapper{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 24px;
}
.daily-forecast{
  font-weight: 200;
  font-size: 24px;
}
.daily-details :first-child{
  font-size: 40px;
  color: var(--secondary-text);
  margin-bottom: 0.5rem;
}
.daily-details :nth-child(2){
  font-size: 24px;
  color: var(---tertiary-text);
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
@media screen and (max-width: 450px){
  .sidebar{
    width: 330px;
  }
  .sidebar.sidebar-inactive{
    transform: translateX(-305px);
  }
}
@media screen and (max-width: 800px){
  .container{
    position: relative;
    backdrop-filter: none;
    overflow: hidden;
  }
  .sidebar{
    z-index: 100;
    backdrop-filter: blur(40px);
  }
  .weather{
    position: absolute;
    left: 10%;
  }
  .search-content{
    margin-bottom: 1rem;
  }
  .temperature{
    font-size: 72px;
    margin-bottom: 0rem;
  }
  .humidity{
    margin-bottom: 0;
    justify-content: space-around;
  }
  .humidity :nth-child(1){
    font-size: 1.5rem;
    color: var(--secondary-text);
  }
  .humidity :nth-child(2){
    font-size: 1rem;
  }
  .wind{
    font-weight: 200;
    font-size: 0.875rem;
    margin-bottom: 2.5rem;
  }
  .header{
    margin-bottom: 1.5rem;
  }
  .forecast{
    font-size: 14px;
  }
  .weather-type{
    font-size: 48px;
  }
  .today-date{
    font-size: 14px;
    margin-bottom: 1rem;
  }
  .place{
    font-size: 24px;
  }
  .pre-vis{
    margin: 1.25rem 0;
    font-size: 17px;
  }
  .pre-vis :first-child{
    margin-right: 1rem;
  }
  .hour-details, .daily-details{
    margin-top: 0.5rem;
  }
  .hour-details :first-child{
    font-size: 28px;
  }
  .daily-details :first-child{
    font-size: 32px;
  }
  .daily-details :nth-child(2){
    font-size: 18px;
  }
  .hour-wrapper, .daily-wrapper{
    margin-right: 1rem;
  }
}